.grad-1 {
    background: rgb(68, 70, 78);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 15%, rgba(134, 135, 140, 1) 100%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(68, 70, 78, 1)), color-stop(15%, rgba(68, 70, 78, 1)), color-stop(100%, rgba(134, 135, 140, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 15%, rgba(134, 135, 140, 1) 100%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 15%, rgba(134, 135, 140, 1) 100%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 15%, rgba(134, 135, 140, 1) 100%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(top, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 15%, rgba(134, 135, 140, 1) 100%, rgba(255, 255, 255, 1) 100%);
    /* W3C */
}

.grad-2 {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(134, 135, 140, 1) 0%, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(134, 135, 140, 1)), color-stop(0%, rgba(68, 70, 78, 1)), color-stop(100%, rgba(68, 70, 78, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(134, 135, 140, 1) 0%, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(134, 135, 140, 1) 0%, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(134, 135, 140, 1) 0%, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 100%);
    /* IE10+ */
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(134, 135, 140, 1) 0%, rgba(68, 70, 78, 1) 0%, rgba(68, 70, 78, 1) 100%);
    /* W3C */
}

.grad-3 {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(242, 87, 158, 1) 1%, rgba(240, 87, 154, 1) 16%, rgba(236, 87, 141, 1) 37%, rgba(218, 86, 90, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(1%, rgba(0, 0, 0, 1)), color-stop(1%, rgba(242, 87, 158, 1)), color-stop(16%, rgba(240, 87, 154, 1)), color-stop(37%, rgba(236, 87, 141, 1)), color-stop(100%, rgba(218, 86, 90, 1)));
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(242, 87, 158, 1) 1%, rgba(240, 87, 154, 1) 16%, rgba(236, 87, 141, 1) 37%, rgba(218, 86, 90, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(242, 87, 158, 1) 1%, rgba(240, 87, 154, 1) 16%, rgba(236, 87, 141, 1) 37%, rgba(218, 86, 90, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(242, 87, 158, 1) 1%, rgba(240, 87, 154, 1) 16%, rgba(236, 87, 141, 1) 37%, rgba(218, 86, 90, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(242, 87, 158, 1) 1%, rgba(240, 87, 154, 1) 16%, rgba(236, 87, 141, 1) 37%, rgba(218, 86, 90, 1) 100%);
}
